<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>
	<!-- create navigation bar ( header) -->
	<div class="container text-center">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" th:href="@{/}">Employee MS</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/" th:href="@{/login}"><span
								class="glyphicon glyphicon-user"></span> Login</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<br> <br> <br> <br> <br> <br>
		<!-- Create HTML registration form -->
		<div class="container">
			<div class="row centered-form">
				<div
					class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<!-- success message -->
							<div th:if="${param.success}">
								<div class="alert alert-info">You've successfully
									registered to our awesome app!</div>
							</div>
							<h3 class="panel-title">
								Please Registration for EMS <small>It's free!</small>
							</h3>
						</div>
						<div class="panel-body">
							<form th:action="@{/registration}" method="post"
								th:object="${user}" role="form">
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input type="text" name="first_name" id="first_name"
												class="form-control input-sm" placeholder="First Name"
												th:field="*{firstName}" required autofocus="autofocus" />
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="form-group">
											<input type="text" name="last_name" id="last_name"
												class="form-control input-sm" placeholder="Last Name"
												th:field="*{lastName}" required autofocus="autofocus" />
										</div>
									</div>
								</div>
								<div class="form-group">
									<input type="email" name="email" id="email"
										class="form-control input-sm" placeholder="Email Address"
										th:field="*{email}" required autofocus="autofocus" />
								</div>
								<div class="form-group">
									<input type="password" name="password" id="password"
										class="form-control input-sm" placeholder="Password"
										th:field="*{password}" required autofocus="autofocus" />
								</div>
								<input type="submit" value="Register"
									class="btn btn-info btn-block"> <br> <span>Already
									registered? <a href="/" th:href="@{/login}">Login here</a>
								</span>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
</body>
</html>